/*.suo
/ServerShop/obj/Release/*.cs
*.txt
/ServerShop/bin/Debug
/ServerShop/obj/Debug/*.cs
*.cache
*.pdb
/ServerShop/obj/Debug
/ServerShop/obj/Release
ServerShop/bin/Release/HttpServer.dll
ServerShop/bin/Release/Newtonsoft.Json.dll
ServerShop/bin/Release/ServerShop.dll
